.addtodo{
    width: 100%;

}
.addname{
  width: 40%;
  margin-top: 8% ;
  padding: 10px;
  margin-left:28% ;
  text-align: center;
  border: 2px solid gray;
  background: #f1f1f1;
  resize: none;
  min-height: 20px;
}
.addtext{
    width: 40%;
    margin-top: 15px ;
    padding: 10px;
    margin-left:28% ;
    text-align: center;
    border: 2px solid gray;
    background: #f1f1f1;
    resize: none;
    min-height: 20px;
}
.addbtn{
  background-color: RoyalBlue;;
  border: none;
  color: white;
  margin-top: 2% ;
  margin-left:45% ;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.addbtn:hover {
  background-color: lightblue;
}