.editname{
    width: 50%;
    margin: auto;
    border: 2px solid gray;
    background: #f1f1f1;
    text-align: center;
    min-height: 50px;
  }
  .edittask{
    width: 50%;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    border: 2px solid gray;
    background: #f1f1f1;
    min-height: 20px;
  }
  .update{
    background-color: #4CAF50; 
    color: white;
    margin-top: 15px ;
    margin: auto;
    cursor: pointer;
  }

