.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

table {
  border-collapse: collapse;
  width:80% ;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.todoheader {
  background-color:lightgray;
  display: flex;
}
.heading{
  font: 2px solid blue;
}
.tablename{
  font-size: large;
  font-weight: bold;
  margin: 1px solid grey;
  background: gray;
  
}
tr{
  font-size: medium;
  
}
table{
  text-align: center;
  border: 1px solid black;
  background: lightgray;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
